winget install -e --silent --accept-source-agreements --accept-package-agreements --disable-interactivity Microsoft.PowerShell -s winget
winget install -e --silent --accept-source-agreements --accept-package-agreements --disable-interactivity Microsoft.WindowsTerminal -s winget
winget install -e --silent --accept-source-agreements --accept-package-agreements --disable-interactivity JanDeDobbeleer.OhMyPosh -s winget
winget install -e --silent --accept-source-agreements --accept-package-agreements --disable-interactivity neovim -s winget
winget install -e --silent --accept-source-agreements --accept-package-agreements --disable-interactivity sharkdp.fd -s winget
winget install -e --silent --accept-source-agreements --accept-package-agreements --disable-interactivity zig.zig -s winget
winget install -e --silent --accept-source-agreements --accept-package-agreements --disable-interactivity JesseDuffield.lazygit -s winget
winget install -e --silent --accept-source-agreements --accept-package-agreements --disable-interactivity GitHub.GitHubDesktop -s winget
winget install -e --silent --accept-source-agreements --accept-package-agreements --disable-interactivity GitHub.cli -s winget
winget install -e --silent --accept-source-agreements --accept-package-agreements --disable-interactivity AgileBits.1Password -s winget
winget install -e --silent --accept-source-agreements --accept-package-agreements --disable-interactivity AgileBits.1Password.CLI -s winget
winget install -e --silent --accept-source-agreements --accept-package-agreements --disable-interactivity Microsoft.PowerToys -s winget
winget install -e --silent --accept-source-agreements --accept-package-agreements --disable-interactivity Neovide.Neovide -s winget
winget install -e --silent --accept-source-agreements --accept-package-agreements --disable-interactivity Git.Git -s winget
winget install -e --silent --accept-source-agreements --accept-package-agreements --disable-interactivity 7zip.7zip -s winget
winget install -e --silent --accept-source-agreements --accept-package-agreements --disable-interactivity BurntSushi.ripgrep.MSVC -s winget
