return {
	"williamboman/mason-lspconfig.nvim",
	event = "VeryLazy",
	 dependencies = {
		"williamboman/mason.nvim",
        "neovim/nvim-lspconfig",
	},
	opts = {
		ensure_installed = {
			"bashls", -- bash
			"buf_ls", -- protobuf
			"bzl", -- bazel/skylark
			"clangd", -- c, c++
			"cmake", -- cmake
			"dockerls", -- docker
			"grammarly", -- text, markdown
			"html", -- html
			"jsonls", -- json
			"lua_ls", -- lua
			{{- if ne .chezmoi.os "windows" }}
			"nil_ls", -- nix
			{{- end }}
			"powershell_es", -- powershell
            "prettierd",
            "prettier",
			"ruff", -- python
			"rust_analyzer", -- rust
			"tailwindcss", -- css
			"taplo", -- toml
			"terraformls", -- terraform
			"tflint", -- terraform
			"tsgo", -- typescript, javascript
            "ty", -- python
			"vimls", -- vimscript
			"yamlls", -- yaml
			"zls", -- zig
			--"harper_ls", -- toml, typescript, rust, ruby, python, markdown, lua, javascript, java, C, C++, C#
		}
	}
}
